app-home {

  h1,
  p,
  .actions {
    margin-bottom: 10px;
  }
  h1 {
    font-size: 24px;
    font-weight: 600;
  }
  aside {
    font-size: 12px;
  }
  button {
    margin-left: 10px;
  }
}
.welcome {
  display: flex;
  flex-direction: column;

  p {
    max-width: 600px;
    line-height: 1.2;
  }
  a {
    margin-bottom: 10px;
  }
  strong {
    font-weight: 600;
  }
  ul {
    margin-bottom: 10px;
  }
  li {
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  video {
    margin-bottom: 10px;
  }
}